<?xml version="1.0"?>
<config>
  <modules>
    <MR_TrainingAdmin>
      <version>0.1.0</version>
    </MR_TrainingAdmin>
  </modules>
  <global>
    <helpers>
      <trainingadmin>
        <class>MR_TrainingAdmin_Helper</class>
      </trainingadmin>
    </helpers>
	<blocks>
	  <trainingadmin>
		<class>MR_TrainingAdmin_Block</class>
	  </trainingadmin>
	</blocks>
	<models>
	  <trainingadmin>
		<class>MR_TrainingAdmin_Model</class>
		<resourceModel>trainingadmin_mysql4</resourceModel>
	  </trainingadmin>
	  <trainingadmin_mysql4>
		<class>MR_TrainingAdmin_Model_Mysql4</class>
		<entities>		  
			  <customcontact>
				<table>customcontact</table>
			  </customcontact>
		</entities>
	  </trainingadmin_mysql4>
	</models>
	<resources>
	  <trainingadmin_setup>
		<setup>
		  <module>MR_TrainingAdmin</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </trainingadmin_setup>
	  <trainingadmin_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </trainingadmin_write>
	  <trainingadmin_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </trainingadmin_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <trainingadmin>
	    <use>admin</use>
		<args>
		  <module>MR_TrainingAdmin</module>
		  <frontName>admin_trainingadmin</frontName>
		</args>
	  </trainingadmin>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <trainingadmin module="trainingadmin">
		<title>TrainingAdmin</title>
		<sort_order>100</sort_order>
		<children>
		  <trainingadminbackend module="trainingadmin">
			<title>Adminhtml Training Page</title>
			<sort_order>0</sort_order>
			<action>admin_trainingadmin/adminhtml_trainingadminbackend</action>
		  </trainingadminbackend>
		</children>
	  </trainingadmin>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<trainingadmin translate="title" module="trainingadmin">
			  <title>TrainingAdmin</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <trainingadminbackend translate="title">
			<title>Adminhtml Training Page</title>
		  </trainingadminbackend>
			  </children>
			</trainingadmin>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<trainingadmin>
		  <file>trainingadmin.xml</file>
		</trainingadmin>
	  </updates>
	</layout>
  </adminhtml>
</config> 